.body {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.35s ease;
  // padding: 3rem;
}

.body-trimmed {
  width: calc(100% - 17.6rem);
  margin-left: 17.6rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.page-transition{
    view-transition-name: page;
}

::view-transition-old(page){

    animation:
        old-page .18s ease forwards;
}

::view-transition-new(page){

    animation:
        new-page .22s ease forwards;
}

@keyframes old-page{

    from{
        opacity:1;
        transform:translateY(0);
    }

    to{
        opacity:0;
        transform:translateY(6px);
    }
}

@keyframes new-page{

    from{
        opacity:0;
        transform:translateY(6px);
    }

    to{
        opacity:1;
        transform:none;
    }
}