<div
  class="sidenav"
  [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''"
>
  <!-- Logo -->
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <img 
        [style]="
          isLeftSidebarCollapsed() ? 
          'transition: ease .3s all;' : 
          'transform: rotate(90deg); transition: ease .35s all;'
        "
        src="/logo.webp" 
        alt="Logo"
      >
    </button>

    @if (!isLeftSidebarCollapsed()) {
      <div class="logo-content">
        <h2>TaskHub</h2>
        <span>Organização pessoal</span>
      </div>
    }
  </div>

  <!-- Botão Novo -->
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item">
      <button class="new-item">
        <div 
          class="sidenav-link-icon"
          [innerHTML]="icons.plus">
        </div>
        <span>Novo Item</span>
      </button>
    </li>
  </ul>

  <!-- Menu -->
  <ul class="sidenav-nav">
    @for (item of items; track item.routeLink) {
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="item.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div
            class="sidenav-link-icon"
            [innerHTML]="item.icon">
          </div>

          <span class="sidenav-link-text">
            {{ item.label }}
          </span>
        </a>
      </li>
    }
  </ul>

  <!-- Rodapé -->
  <ul class="sidenav-nav-bottom">
    @for (item of itemsBottom; track item.routeLink) {
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="item.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div
            class="sidenav-link-icon"
            [innerHTML]="item.icon">
          </div>

          <span class="sidenav-link-text">
            {{ item.label }}
          </span>
        </a>
      </li>
    }
  </ul>
</div>